*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* barra navigazione */
.navigazione{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

li img{
    width: 100px;
}

li a{
    color: #616161;
    text-decoration: none;
}

.btn{
    background-color: #0061ff;
    color: #fff;
    padding: 8px 10px;
    border: 0;
}
/* jumbotron */

.jumbotron{
    background-color: #b4d0e7;
    height: 500px;
}

.jumbo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    font-size: 4rem;
    padding-top: 50px;
}

.jumbo-text{
    margin-top: 30px;
    display: flex;
}

.jumbo-text p{
    width: 80%;
    color: #616161;
}

.btn-big{
    margin: 20px 0;
}

.jumbo-img{
    display: flex;
    justify-content: end;
}

.jumbo-img img{
    display: block;
    width: 80%;
    position: relative;
}

.text{
    position: absolute;
    bottom: 35%;
    color: #616161;
}

.text-arrow{
    position: absolute;
    bottom: 17%;
    font-size: 3rem;
}

/* parte centale */

.container{
    width: 60%;
    margin: 0 auto;
}

.business{
    height: 800px;
    padding-top: 150px;
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.radio-btn{
    margin: 20px;
    color: #616161;
}

.colonne{
    display: flex;
}

.colonne span{
    width: calc(100% / 3 - 30px);
    margin: 30px;
    height: 500px;
    border: 1px solid #d4d1d1;
}

.title{
    height: 25px;
    border-bottom: 1px solid #d4d1d1;
    text-align: center;
    padding: 5px;
}

.card{
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 15px;
}

.card h3{
    margin-top: 20px;
}

.card p{
    color: #616161;
}

.card-plus{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    font-size: 11px;
}

.central{
    margin-top: 10px;
}

.right{
    margin-top: 0;
}

hr{
    width: 40px;
    margin-bottom: 50px;
}






.partner{
    height: 500px;
    background-color: chocolate;
}

.drop{
    height: 600px;
    background-color: blueviolet;
}

.team{
    height: 200px;
    background-color: cadetblue;
}

.quadrati{
    height: calc(100vw / 3);
    background-color: chartreuse;
}

.prova{
    height: 200px;
    background-color: rgb(108, 108, 177);
}

.domande{
    height: 400px;
    background-color: fuchsia;
}

footer{
    height: 600px;
    background-color: black;
}