*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* barra navigazione */
.navigazione{
    background-color: #fff;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 8;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

li img{
    width: 100px;
}

li a{
    color: #616161;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    box-shadow: 0px 4px 0px 0 gray;
}

.btn{
    background-color: #0061ff;
    color: #fff;
    padding: 8px 10px;
    border: 0;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}
/* jumbotron */

.jumbotron{
    height: 500px;
    background-color: #b4d0e7;
    margin-top: 60px;
}

.jumbo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    font-size: 4rem;
    padding-top: 50px;
}

.jumbo-text{
    margin-top: 30px;
    display: flex;
}

.jumbo-text p{
    width: 80%;
    color: #616161;
}

.btn-big{
    margin: 20px 0;
}

.jumbo-img{
    display: flex;
    justify-content: end;
}

.jumbo-img img{
    display: block;
    width: 80%;
    position: relative;
}

.text{
    position: absolute;
    bottom: 35%;
    color: #616161;
}

.text-arrow{
    position: absolute;
    bottom: 17%;
    font-size: 3rem;
}

/* parte centale */

.container{
    width: 60%;
    margin: 0 auto;
}

.business{
    padding-top: 150px;
}

h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.radio-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.radio-btn:hover > *{
    cursor: pointer;
}

.radio-btn{
    margin: 20px;
    color: #616161;
}

.colonne{
    display: flex;
}

.colonne span{
    width: calc(100% / 3 - 30px);
    margin: 30px;
    height: 700px;
    border: 1px solid #d4d1d1;
}

.title{
    height: 25px;
    border-bottom: 1px solid #d4d1d1;
    text-align: center;
    padding: 5px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 15px;
}

.card h3{
    margin-top: 20px;
}

.card p{
    color: #616161;
}

.card-plus{
    padding: 15px 0;
    font-size: 11px;
    gap: 20px;
}

.card-plus ul{
    height: 100px;
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
}

.card-plus div{
    display: flex;
    align-items: baseline;
}

hr{
    width: 40px;
}

.fa-check{
    color:  #0061ff;
    padding-right: 3px;
}

.righa{
    margin: 30px;
    height: 200px;
    border: 1px solid #d4d1d1;
    position: relative;
}

.sottotitolo{
    margin-bottom: 30px;
}

.fix{
    position: absolute;
    top: 30px;
    right: 30px;
}

/* sezione divisa in due */
.partner{
    margin: 60px 30px;
    display: flex;
    justify-content: space-between;
}


.partner-img img{
    display: block;
    width: 90%;
}

.partner-text{
    width: 50% ;
    margin-top: 100px;
}

.partner-text p{
    color: #616161;
    margin-top: 20px;
}

.btn-small{
    color: #999999;
    background-color: #fff;
    border: 2px solid #999999;
    margin-top: 20px;
}

/* sezione divisa in sei cubi */

.drop{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}

.container-drop{
   height: 800px;
   width: 100%;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   justify-content: space-around;
}

.container-drop span{
    width: calc(100% / 4);
    display: inline-block;
    margin-top: 30px;
}

.drop-img img{
    width: 220px;
    height: 170px;
    display: block;
}

.container-drop p{
    color: #616161;
    margin-top: 10px;
}

/* sezione titolo del main */

.team{
    width: 50%;
    margin: 30px;
    padding: 140px 0;
    display: flex;
    flex-direction: column;
}

.team h2{
    margin-bottom: 40px;
}

.team a{
    color:  #0061ff;
}

/* quadrati perfetti */

.quadrati{
    display: flex;
}

.cube{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.cube-mini{
    display: flex;
    align-items: center;
    width:calc(100%/ 2);
    height: calc(100% / 2);
}

.cube-img{
    margin: 0 auto;
}

.cube-img img{
    width: 120px;
    display: block;
    filter: invert(1);
}

.designit{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.asu{
    background-color: #61082b;
}

.uf{
    background-color: #0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.cube-center{
    background-color: #f5f5f5;
    flex-direction: column;
}

.center-img img{
    width: 230px;
    display: block;
    margin: 40px;
}

.center-img hr{
    margin: 40px;
    width: 100px;
    color: #fff;
}

.cube-center p{
    color: #616161;
    margin: 20px 40px;
}

.world{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonely{
    background-color: #0d2481;
}

.clear{
    background-color: #ffd830;
}

/* sezione di prova */

.prova{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b4d0e7;
    color: #61072b;
}

.prova div{
    width: 55%;
    padding: 40px 0;
    display: inline-block;
}

.btn-prova{
    border: 0;
    padding: 8px 30px;
    position: relative;
    bottom: 37px;
    margin: 0 70px;
}

/* sezione domande */

.domande{
    margin: 100px;
}

.cont-domande{
    border-bottom: 1px solid #a5a2a2;
    margin-top: 50px;
}

.cont-domande div{
    border-top: 1px solid #a5a2a2;
    font-weight: bold;
    padding: 30px 0;
}

.hover{
    display: none;
    padding-top: 31px;
    font-weight: initial;
}

.cont-domande div i:hover + .hover{
    display: block;
}

.cont-domande div i:hover{
    transform: rotate(180deg);
}

.cont-domande div i{
    margin-left: 120px;
    cursor: pointer;
}

/* footer */

footer{
    color: #fff;
    background-color: black;
    padding: 80px 0;
}

.footer-nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    flex-basis: 30%;
}

.footer-list a{
    color: #fff;
    padding: 0;
}

.lingua{
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    color: #999999;
}

.lingua hr{
    width: 100px;
    margin-bottom: 30px;
}

.lingua i{
    cursor: pointer;
}