*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* barra navigazione */
.navigazione{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

li img{
    width: 100px;
}

li a{
    color: #7e7e7e;
    text-decoration: none;
    font-size: 13px;
}

.btn{
    background-color: #0061ff;
    color: #fff;
    padding: 5px 10px;
    border: 0;
}

.jumbo{
    background-color: gold;
    height: 500px;
}

.business{
    height: 800px;
    background-color: brown;
}

.partner{
    height: 500px;
    background-color: chocolate;
}

.drop{
    height: 600px;
    background-color: blueviolet;
}

.team{
    height: 200px;
    background-color: cadetblue;
}

.quadrati{
    height: calc(100vw / 3);
    background-color: chartreuse;
}

.prova{
    height: 200px;
    background-color: rgb(108, 108, 177);
}

.domande{
    height: 400px;
    background-color: fuchsia;
}

footer{
    height: 600px;
    background-color: black;
}